body{
    position: relative;
}

.navbar-item-custom, 
.navbar-item-custom a {

    color:white;
}
.footer-custom {
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #dfeaff ;
    padding-top: 25px;
}
.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}
.product-item {
    margin-top: 40px;
}
.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}
.product-prix{
    font-size: 20px;
    font-weight: bold;
}
.product-container {
    margin-bottom: 150px;
}
.product-page-prix{
    font-size: 20px;
    font-weight: bold;
}