{% extends 'base.html.twig' %}

{% block title %}
	{{ product.name }}
	- La Boutique Française
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-5">
			<img src="/uploads/{{product.illustration}}" alt="{{ product.name }}" class="img-fluid">
		</div>
		<div class="col-md-7 my-auto">
			<h3>{{ product.name }}</h3>
			<p>
				{{ product.subtitle }}</p>
			<span class="product-page-prix">{{ (product.prix / 100 )|number_format(2) }}€</span>
			<br>
			<p>{{ product.description }}
			</p>
            <a href="" class="btn btn-primary"> Ajouter au panier </a>
		</div>
    </div>

	{% endblock %}
