<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="La boutique quiu vend uniquement du made in France ">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta
		name="generator" content="Jekyll v4.1.1">
		<!-- Bootstrap core CSS -->
		<link href="{{asset('asset/css/bootstrap.min.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="{{asset('asset/css/boutiquefrancaise.css')}}">

		<title>
			{% block title %}
				La Boutique Française - 100 % Made in France
			{% endblock %}
		</title>


		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>
		<!-- Custom styles for this template -->
		<link
		href="{{asset('asset/css/carousel.css')}}" rel="stylesheet">
		<!-- Bootstrap core CSS -->
		<link href="{{asset('asset/css/bootstrap.min.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="{{asset('asset/css/boutiquefrancaise.css')}}">

	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<a class="navbar-brand" href="{{path('home')}}">
					La Boutique Française
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{{path('products')}}">Nos produits
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">Qui sommes nous ?
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">
								Contact
							</a>
						</li>

					</ul>
					<div class="navbar-item-custom">
						{% if app.user %}
							<a href="{{ path('account')}}">Mon compte
								<small>
									({{ app.user.firstname }})
								</small>
							</a>
							|
							<a href="{{ path('app_logout') }}">
								Déconnexion
							</a>
						{%  else %}
							<a href="{{ path('app_login')}}">Connexion</a>
							|
							<a href="{{ path('register' )}}">
								Inscription
							</a>
						{%  endif %}
					</div>

				</div>
			</nav>
		</header>

		<main role="main">
			{% if block('carousel') is defined %}
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
							<div class="container">
								<div class="carousel-caption text-left">
									<h1>Example headline.</h1>
									<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
									<p>
										<a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
									</p>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
							<div class="container">
								<div class="carousel-caption">
									<h1>Another example headline.</h1>
									<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
									<p>
										<a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
									</p>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
							<div class="container">
								<div class="carousel-caption text-right">
									<h1>One more for good measure.</h1>
									<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
									<p>
										<a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			{% endif %}

			<!-- Marketing messaging and featurettes
												    ================================================== -->
			<!-- Wrap the rest of the page in another container to center all the content. -->

			<div class="container marketing {% if block('carousel') is not defined %} mt-5 {% endif %}"> {% block content %}{% endblock %}

				</div>
				<!-- /.container -->

				<!-- FOOTER -->
				<footer class="footer-custom">


					<p>
						&copy; 2017-2022 La Boutique Française
						<br/>
						<small>La Boutique 100% made in France !
							<br/>
							<a href="#">Condition général de ventes
							</a>
						</small>

					</p>
				</footer>
			</main>
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
			<script src="{{asset('asset/js/bootstrap.bundle.js')}}"></script>
		</body>
	</html>
